<div
  id="schedule-react-element"
  data-favorite-channel-name="<%= Turbo::StreamsChannel.signed_stream_name(
                                      [current_user, :favorites]
                                    ) %>">
</div>
